.card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 200px;
    box-shadow: 0 4px 8px 0 rgba(0.2, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}
.content{
    padding: 2px 16px;
    width: 60vw;
    height: 30vh;
}