.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(116, 110, 110, 0.2);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #fff;
}

.header a {
  text-decoration: none;
  font-size: 1.5em;
}

.title.light {
  color: #000;
}

.title.dark {
  color: #fff;
}

.header button {
  margin: 0;
  cursor: pointer;
}

.profile {
  cursor: pointer;
}
.ant-input-group-addon {
  background: rgba(0, 0, 0, 0);
}

/* Media query */

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .header button {
    margin-bottom: 6px;
  }
}
